body {
    height: 70vh;
}

.container-fluid {
    margin-top: 150px;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lilita One', cursive;
    color: rgb(255, 255, 255);
}

.card-img-top {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.card-title {
    display: flex;
    justify-content: center;
    font-family: 'Lilita One', cursive;
}

.card-text {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
}

.card {
    transition: all 0.35s ease-in;
    transition: all 0.25s ease-out;
}

.card:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}